@import "../../components/variables";

.confirm_modal {
  max-width: 100%;
}

.confirm_modal_text {
  text-align: center;
}

.exclamation_icon {
  width: 24px;
  height: 24px;
  margin: 24px auto 15px;
  color: #6f8bc4;
}

